{% extends 'base.html' %}

{% block container %}
  <nav class="mt-5 mb-4"><a href="/">Назад</a></nav>
    <h2 class="р2 mb-3"><strong>Поиск: {{ result|length }} результатов</strong></h2>
    <form>
    <div class="form-row">
      <div class="col-7">
        <input type="text" class="form-control" placeholder="Введите слова" name="q">
      </div>

      <div class="col">
        <input type="button" class="btn btn-primary" value="Найти">
      </div>
    </div>
  </form>

  <p>Например:
    {% for tag in tags %}
      <a href="/search?q={{ tag }}" class="mx-2">{{ tag }}</a>
    {% endfor %}
  </p>

  <div class="row mt-3">
    {% for video in result %}
      <div class="col-4 mt-4">
       <div class="card" style="width: 18rem;">
          <img src="/static/videos/{{ video.id }}.jpg" class="card-img-top fluid">
          <div class="card-body">
            <a class="card-text" style="display: block">{{ video.description }}</a>
            <a href="/playlists/{{ video.playlist }}/{{ video.id }}" class="btn btn-primary btn-sm mt-3">Открыть</a>
          </div>
      </div>
     </div>
    {% endfor %}
  </div>
{% endblock %}